/* src/css/about.css */
.about {
    padding: 20px;
    background-color: #fff;
  }
  
  .about h2 {
    color: #333;
  }
/* About Us Page */
.about-banner {
    background-color: var(--global-nav-bg);
    color: var(--global-white);
    font-size: 150%;
    text-align: center;
    padding: 20px;
}
.about-container {
    max-width: 1200px; /* Limit max width for large screens */
    margin: 40px auto; /* Center the container */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Space between cards */
    padding: 0 20px;
}

.about-card {
    background-color: var(--global-badge-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center; /* Center align items vertically */
    padding: 20px;
}

.card-content {
    display: flex;
    flex-direction: row; /* Align image and text in a row */
    align-items: center; /* Center vertically */
}

.card-image {
    width: auto; /* Set a fixed width for images */
    height: auto; /* Set a fixed height for images */
    margin-right: 15px; /* Space between image and text */
}

.card-text {
    flex: 1; /* Allow text to take available space */
}

.card-text h4 {
    margin: 0 0 10px; /* Adjust margin */
    font-size: 1.5rem;
    color: var(--global-banner-start);
}

.card-text p {
    font-size: 1rem;
    color: #333; /* Adjust text color for readability */
}
  