/* src/css/header.css */
header {
    background-color: var(--global-header-bg);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px; /* Adjust size as needed */
    height: auto;
    margin-right: 15px; /* Space between the logo and the title */
}

.logo h1 {
    color: var(--global-white);
    font-size: 2em; /* Adjust font size as needed */
    margin: 5%; /* Ensure no extra space */
}